{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="container-fluid">
            <h1 class="display-4">Select Default Bugs </h1>
        <p class="lead">CIS - {{ session['cis'] }} </p>
            <p>{{session.project_name}}</p>

        <hr class="my-4">
            <form  method="POST">
                <div class="row container-fluid">
                <div class="col-lg" style="padding: 10px 10px 20px 0px">
                    {{ form.hidden_tag() }}
                    <span style="padding-right: 15px">
                    {{ form.q_a }}
                    {{ form.q_a.label }}</span>
                    <span style="padding-right: 15px">
                     {{ form.chat }}
                    {{ form.chat.label }}</span>
                     <span style="padding-right: 15px">
                    {{ form.poll }}
                    {{ form.poll.label }}</span>
                    <span style="padding-right: 15px">
                    {{ form.survey }}
                    {{ form.survey.label }}</span>
                        <span style="padding-right: 15px">
                    {{ form.raise_hand }}
                    {{ form.raise_hand.label }}</span>
                    <p></p>
                    {{ form.submit }}

                    </div>
                    <div class="col-md" style="padding: 10px 10px 20px 0px">

                            <p class="lead">
                            Selected Default Bugs:
                        </p>
                        {% for bug in bug_list %}
                        {{ bug }}
                        {% endfor %}


                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}